title: a name for your Learning Lab course
tagline: # short description for your Learning Lab course, displayed on the course catalog
description: a longer description for your Learning Lab course, displayed on the course's landing page

# Repository setup
# The following section template information for the repository
# This will be used when the repository is crated for each individual learner

template:
  name:     test repo
  repo:     template-for-lab

# `before` block
# Actions to take place after the learner registers, but before they start interacting with their repo

before:
- type: respond
  with: 01_first-response.md

# Steps for the course
# A list of steps that take the learner through the course
# Create one step for each action that a learner will complete

steps:
# Step 1: EDIT HERE - INTERNAL COMMENT DESCRIBING STEP 
- title: What is markdown
  description: Markdown is a markup language
  event: push
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: add name to README
    else:
      - type: respond
        with: 01_try-again.md
   
  - type: respond
    with: 01_nice-work.md
    
# Step 2: EDIT HERE -INTERNAL COMMENT FOR STEP 2
# - title: Headers
#  description: headers are created with '#' symbols, one hash is header 1, 2 is header 2 etc...
#  event: push
#  actions: # a list of the actions that will occur when the step is triggered by an event
#  - type: # the type of action, full list at https://lab.github.com/docs/actions

# Step 3: EDIT HERE - INTERNAL COMMENT FOR STEP 3
# - title: Lists
#  description: ordered lists with 1. and unordered with * 
#  event: push
#  actions: # a list of the actions that will occur when the step is triggered by an event
#  - type: # the type of action, full list at https://lab.github.com/docs/actions

# Step 4: EDIT HERE - INTERNAL COMMENT FOR STEP 4
# - title: Links
#  description: [link](www.website.com)
#  event: push
#  actions: # a list of the actions that will occur when the step is triggered by an event
#  - type: # the type of action, full list at https://lab.github.com/docs/actions

# Step 5: EDIT HERE - INTERNAL COMMENT FOR STEP 5
# - title: Images
#  description: Follow above steps without []
#  event: push
#  actions: # a list of the actions that will occur when the step is triggered by an event
#  - type: # the type of action, full list at https://lab.github.com/docs/actions

